:root{
    --fundo: #645353;
    --cart: #9900ff;
    --invcart: #7252ff;
    --dest:rgb(255, 82, 140);
    --preto: #000000;
    --branco: #fff
    }
    body{
        background: var(--fundo);
    }
    header  {
        background-color: var(--branco);
        display: flex;
        justify-content: space-around;
        padding: 1rem;
    }
    header a{
        color: var(--preto);
    }
    footer{
        background-color: var(--invcart);
        position: fixed;
        bottom: 0;
        color: var(--branco);
        width: 100%;
        text-align: center;
    }

    #container{
        display: grid;
        gap: 3rem;
        padding: 2rem;
    }

    .cartao{
        background-color: var(--cart);
        border: 1px solid var(--dest);
        padding: 40px;
        color: var(--branco);
        box-shadow: 2px 2px 2px var(--preto);
    }