:root{
--fundo: #b2b2b2;
--cart: #828282;
--invcart: #545454;
--dest:#d134;
--preto: #0000;
--branco: #fff
}
body{
    background: var(--fundo);
}
footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;
}
